.scrollable {

	/* required settings */
	#position:relative;
	#overflow:hidden;
	float:right;
	#height: 665px;
	background-color:#888;
	width: 100px;
}

.playlist {
	#position:relative;
	#overflow:hidden;	 	
    #width:260px;
    position:absolute;
	height:20000em;
}

.playlist a {
	background: #000;
	display:block;
	background-color:#fff;
	padding:12px 15px;
	height:70px;
	#width:195px;
	font-size:12px;
	text-decoration:none;
	letter-spacing:-1px;
	color:#000;
	cursor:pointer;
}

.playlist a.first {
	border-top-width:1px;
}

.playlist a.playing, .playlist a.paused, .playlist a.progress {
	background: #bbb;
	#width:225px;
	border:1px solid #400;
}
	
.playlist a.progress {
	opacity:0.6;		
}

.playlist a.paused {
	background-position:0 0;	
}

.playlist .track_name {
	font-weight:none;
	font-size:14px;
	color:#333;
	text-decoration:none;
	float:left;
}
.playlist a div {
	#display:block;		
	font-size:11px;
	
	#color:#666;
	float:left;
	background-color:transparent !important;	
}

.playlist a em {
	font-style:normal;
	color:#f00;
}	

.playlist a:hover {
	background-color:#f9f9fa;		
}

.playlist a.playing:hover, .playlist a.paused:hover, .playlist a.progress:hover {
	background-color:transparent !important;		 
}

a.go {
	display:block;
	width:18px;
	height:18px;
	background:url(/img/playlist/arrow/up.png) no-repeat;
	margin:5px 0 5px 105px;
	cursor:pointer;
}

a.go:hover, a.go.down:hover {
	background-position:0px -18px;		
}


a.go.disabled {
	visibility:hidden;		
}

#footer_player {	
	display:block;
	height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
