#contents_item {
    color:#fff;
    padding:0px 0px 0px 0px;
    margin:0 0 0 0;
    float: left;
}

/*common*/
ul {
    list-style-type : none;
}

.bordered_item {
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#fff;
    border:2px solid #000;
    color:#000;
    #float:left;
}


.title {
	float:none;
}

.text {
	color:#888;
    padding:4px 6px 5px;
    font-size:11px;
    margin:2px 2px 2px 2px;
    font-weight:bold;
	background:#fff;
	float:left;
}

/*buttons*/
.expand_button {
    float:left;
}


.item_buttons {
    #position:relative;
    padding:4px 10px 13px;
    font-size:11px;
    margin:2px 2px 2px 2px;
    font-weight:bold;
    float: right;
}

.add_button {
    float:right;
    display:block;
}

.results {
    float:left;
}
/*highest level*/
.track {
    #text-shadow:0 -1px 0 #39d;
    text-align:left;
    #padding:4px 4px 5px;
    font-size:11px;
    #margin:1px 0 0 0;
    font-weight:bold;
    float:left;
}

.hidden_list {
	margin:1px 0px 0 0;
	clear:both;
}




